# Ignore raw datasets
data/
data/raw/
data/raw/own/

# Ignore Python environment
venv/
.venv/
__pycache__/
*.pyc

# Ignore heavy binaries and models
models/*.pth
*.pth
*.mp4
*.mkv
*.csv
*.json

# Allow model weights to be tracked
!models/
!models/*.pth

# Ignore OS metadata
.DS_Store
